development:
  secret_key_base: SECRET

test:
  secret_key_base: SECRET

production:
  secret_key_base: SECRET

  errbit:
    project_id:           SECRET
    project_key:          SECRET
    host:                 SECRET
